.writer {
    margin-left: 20px;
    margin-top: 20px;
    width: 80%;
  }
  
  .writer__form {
    display: flex;
    flex-direction: column;
  }
  
  .writer__label {
    padding-left: 16px;
    font-weight: 700;
  }
  
  .writer__input {
    background-color: transparent;
    border-radius: 5px;
    border: 2px #595959 solid;
    margin-bottom: 16px;
    color: #f0f0f0;
    padding: 7px 16px;
  }
  
  .writer__input--description {
    height: 150px;
  }
  
  .writer__submit {
    font-size: 16px;
    padding: 5px 10px;
    margin-bottom: 16px;
    background-color: #2EBAFE;
    color: #191919;
    float: right;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.2s;
    width: -moz-fit-content;
    width: fit-content;
    float: right;
  }
  .writer__submit:hover {
    background-color: #0DFFEF;
  }
  