.note__content{
    ul{
        padding-left: 40px;
        list-style: circle;        
    }

    a{
        color:var(--contrast);
        transition: all .2s;
        &:hover{
            color: var(--contrast--hover);
        }
    }

}

.ql-snow * {
    background-color: transparent !important;
    color: var(--black) !important;
}