@import 'tease/tease';
@import 'aside/aside';
@import 'explorer/explorer';
@import 'form/form';


.content{
    border: 4px solid #313131;
    box-shadow: 7px 7px 0px #313131;
    border-radius: 20px;
    padding: 0 40px;
    position: relative;
    background-color: var(--grey--back);
}

.library__head{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        bottom: 0%;
        width: calc(100% + 80px);
        height: 4px;
        background-color: #313131;
        transform: translate(-40px);
    }
}

.library__title{
    font-weight: 900;
}

.library__filter{
    filter: drop-shadow(4px 4px 0px #313131);
    border: #313131 solid 4px;
    background-color: var(--grey--back);
    height: fit-content;
    padding: 4px 8px;
    border-radius: 10px;
    color: var(--contrast);
    transition: all .2s;
    &:hover{
        color: var(--contrast--hover);
    }
}

.content--binder{
    display: grid;
    grid-template-rows: 104px 1fr;
    padding: 8px 0px;
}

.binder__head{
    padding-left: 24px;
    max-width: 100%;
    overflow: hidden;
}

.binder__title, .layer__title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content--chapter{
    max-width: 100%;
    overflow: hidden;
}

.family{
    display: flex;
    margin-top: -8px;
    gap: 8px;
    max-width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.family__link{
    color: var(--contrast);
    transition: all .2s;
    &:hover{
        color: var(--contrast--hover);
    }
}

.family__separator{
    font-weight: 700;
    letter-spacing: -3px;
}

.binder__type{
    display: block;
    margin-bottom: -16px;
}

.binder__modifie{
    position: relative;
}

#binder-update{
   .ql-editor{
    max-height: calc(100vh - 80px - 40px - 104px - 54px - 56px - 6px);
    overflow-y: auto;
    overflow-x: hidden;

    *{
        max-width: 100%;
        word-wrap: break-word;
    }
   } 
}

.ql-toolbar.ql-snow{
    border: 0px;
    border-bottom: 4px solid;
    border-top: 4px solid;
    font-family: 'Poppins', sans-serif;
    padding: 8px 24px;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow{
    height: auto;
    border: 0px;
}

.ql-editor{
    border: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding-left: 24px;
}

.modifie__submit--binder{
    position: absolute;
    bottom: 16px;
    right: 16px;
    color: var(--white);
    background-color: var(--contrast);
    border-radius: 10px;
    border: 4px solid var(--black);
    transition: all 0.2s;
    padding: 6px 12px;
    filter: drop-shadow(4px 4px 0px #313131);
    transition: all .2s;
    &:hover{
        background: var(--contrast--hover); 
    }
}

.layer__type{
    display: block;
    margin-bottom: -16px;
    padding-top: 8px;
}

.version{
    display: flex;
    position: absolute;
    right: 16px;
    bottom: 16px;
    gap: 16px;
}

.version__trigger{
    color: var(--contrast);
    background-color: var(--grey--back);
    border: 4px solid var(--black);
    border-radius: 10px;
    transition: all 0.2s;
    padding: 4px 12px;
    filter: drop-shadow(4px 4px 0px #313131);
    transition: all .2s;
    &:hover{
        background: var(--contrast--hover); 
        color: var(--white);
    }
}

.version__add{
    color: var(--white);
    background-color: var(--contrast);
    border-radius: 10px;
    border: 4px solid var(--black);
    transition: all 0.2s;
    padding: 4px 12px;
    filter: drop-shadow(4px 4px 0px #313131);
    transition: all .2s;
    &:hover{
        background: var(--contrast--hover); 
        color: var(--white);
    }
}

.version__list{
    display: none;
}

.version__list--active{
    display: initial;
    position: absolute;
    left: 43%;    
    top: 120%;
    filter: drop-shadow(4px 4px 0px #313131);
    background: var(--grey--back);
    border: 4px solid #313131;
    border-radius: 10px;
    font-size: 16px;
    padding: 4px 12px;
    z-index: 7;
}

.version__link{
    color: var(--contrast);

    &:hover{
        color: var(--contrast--hover);
    }
}

.trash__path{
    fill: var(--contrast);
}

.change--doc{
    color: var(--contrast);
    background-color: var(--grey--back);
    border: 4px solid var(--black);
    border-radius: 10px;
    transition: all 0.2s;
    padding: 4px 12px;
    filter: drop-shadow(4px 4px 0px #313131);
    transition: all 0.2s;
}