.note {
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .note__content {
    display: block;
    padding-bottom: 16px;
    margin-top: 16px;
    position: relative;
  }
  .note__content::after {
    content: "";
    display: block;
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 80%;
    height: 2px;
    background-color: #595959;
  }
  
  .note__title {
    font-size: 25px;
    font-weight: 500;
  }