.explorer--front{
    border: 4px solid $black;
    box-shadow: 7px 7px 0px $black;
    border-radius: 20px;
    background-color: $grey--back;
}

.explorer__trigger--add{
    background: $contrast;
    border: 4px solid $black;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    font-weight: 700;
    padding: 8px 16px;
    color: #fefefe;
    transition: all .2s;
    &:hover{
        background: $contrast--hover; 
    }
}

.explorer__search{
    width: 102%;
    margin-left: -1%;
    border-bottom: solid 4px $black;
    border-top: solid 4px $black;
    padding: 8px 40px ;
    margin-top: 16px;
}

.explorer__binderlist{
    padding-left: 40px;
    margin-top: 16px;
    max-width: 100%;

}

.explorer__binderitem{
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}

.explorer__binderlink{
    font-weight: 800;
    color: $contrast;
    transition: all .3s;

    &:hover{
        color: $contrast--hover;
    }
}

.explorer{
    border: 4px solid #313131;
    box-shadow: 7px 7px 0px #313131;
    border-radius: 20px;
    background-color: $grey--back;
}

.explorer__list{
    padding: 8px 24px;
    display: grid;
    grid-template-rows: 54px;
    gap: 16px;

    .explorer__projet {
        max-width: 100%;
        overflow:auto;
    }

    h4{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

}

.explorer__title{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: calc(100% + 48px);
        height: 4px;
        background-color: #313131;
        transform: translate(-24px);
    }
}

.explorer__title--Chapter{
    font-weight: 600;
}

.explorer__title--docinchap{
    font-weight: 400;
}

.explorer__title--doc{
    font-weight: 400;
}

.explorer__link{
    display: flex;
    align-items: center;
    color: $contrast;
    path{
        fill: $contrast;
        transition: all;
      }
    
      &:hover{
        color: $contrast--hover;
        path{
          fill: $contrast--hover;
        }
      }
}

.explorer__link--chapter, .explorer__link--doc{
    padding-left: 16px;
}

.explorer__link--docinchap{
    padding-left: 32px;
}

#explorersearch{
    .explorer__no{
        padding-left: 40px;
    }
}