@import 'nav/nav';

.header {
    display: flex;
    align-items: center;
    width: 100%;
    width: 1600px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.header__logo {
  display: block;
  padding-bottom: 16px;
  margin-top: 16px;
  margin-left: 16px;
  align-items: center; 
}

.header__form{
  flex: 1;  
  background-color: $grey--back;
  border-radius: 10px;
  margin: 0px 16px;
}

.header__search{
  position: relative;
  z-index: 3;
  padding: 8px 32px;
  font-size: 16px;
  width: 90%;
}

.header__link{
  margin-right: 16px;
}

.header__log{
  color: $contrast;
  transition: all .2s;

  &:hover{
    color: $contrast--hover;
  }
}

.header__sign{
  color: $white;
  background-color: $contrast;
  border-radius: 10px;
  transition: all .2s;
  padding: 6px 12px;

  &:hover{
    background-color: $contrast--hover;
  }
}

.header__set{
  path{
    fill: $contrast;
    transition: all .2s;    
  }


  &:hover{
    path{
      fill: $contrast--hover;
    }
  }
}