@import 'nav/nav';

.header{
  width: 100%;
  grid-column: 1/-1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  background-color: $grey--back;
}

.header__nav {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
    border: 4px solid $black;
    box-shadow: 5px 5px 0px $black;
    border-radius: 20px;
}

.header__logo {
  display: block;
  padding-bottom: 16px;
  margin-top: 16px;
  margin-left: 16px;
  align-items: center; 
}

.header__form{
  flex: 1;  
  background-color: $grey--back;
  border-radius: 10px;
  margin: 0px 16px;
  border: 4px solid $black;
  border-radius: 10px;
}

.header__search{
  position: relative;
  z-index: 3;
  padding: 6px 32px;
  font-size: 16px;
  width: 90%;

}

.header__link{
  margin-right: 16px;
}

.header__log{
  color: $contrast;
  transition: all .2s;

  &:hover{
    color: $contrast--hover;
  }
}

.header__sign{
  color: $white;
  background-color: $contrast;
  border-radius: 10px;
  transition: all .2s;
  padding: 6px 12px;
  filter: drop-shadow(4px 4px 0px $black);

  &:hover{
    background-color: $contrast--hover;
  }
}

.header__set{
  path{
    fill: $contrast;
    transition: all .2s;    
  }


  &:hover{
    path{
      fill: $contrast--hover;
    }
  }
}