.aside {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px #595959 solid;
    height: 68px;
  }
  
  .aside__content {
    display: flex;
    align-items: center;
  }
  
  .aside__title {
    height: 42px;
    margin-top: 26px;
    margin-left: 16px;
    font-size: 20px;
  }
  
  .aside__item {
    margin-right: 16px;
    padding-right: 16px;
  }

  .aside__item:last-child::after {
    display: none;
  }
  
  .aside__filtre path {
    fill: #595959;
  }
  
  .aside__trigger {
    padding: 5px 16px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .aside__trigger--add {
    border-radius: 10px;
    background-color: $contrast;
    color: $white;
    margin-top: 20px;
    transition: all 0.2s;
  }
  .aside__trigger--add:hover {
    background-color: $contrast--hover;
  }
  
  .aside__addform {
    position: absolute;
    right: 16px;
    padding: 16px 31px;
    margin-top: 16px;
    border-radius: 10px;
    background-color: #292929;
    display: none;
  }
  
  .aside__addform--active {
    display: block;
  }
  
  .aside__addlabel {
    padding-left: 16px;
    font-weight: 700;
  }
  
  .aside__addinput {
    background-color: transparent;
    border-radius: 5px;
    border: 2px #595959 solid;
    margin-bottom: 16px;
    color: #f0f0f0;
    padding: 7px 16px;
  }
  
  .aside__addsubmit {
    font-size: 16px;
    padding: 5px 10px;
    margin-bottom: 16px;
    background-color: #2EBAFE;
    color: #191919;
    float: right;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.2s;
  }
  .aside__addsubmit:hover {
    background-color: #0DFFEF;
  }