.explorer {
    height: 100vh;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      right: 0%;
      top: 16px;
      height: 100%;
      width: 9px;
      background-color: $black;
      mask: url(../assets/aside__divider.svg) no-repeat;
    }
  }
  
  .explorer__title {
    display: block;
    height: 42px;
    padding-bottom: 16px;
    margin-top: 26px;
    margin-left: 16px;
    font-size: 20px;
  }
  
  .explorer__list {
    margin-left: 16px;
    margin-top: 16px;
  }
  
  .explorer__projetitem {
    margin-bottom: 16px;
  }

  .explorer__projetitem:last-child::after {
    display: none;
  }
  
  .explorer__projetlink {
    color: $contrast;
    transition: all 0.2s;
    margin-left: 16px;
  }
  .explorer__projetlink:hover {
    color: $contrast--hover;
  }
  